body{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/*navbar strat here*/

.navbar-container{
    background: #b35cbd;
    overflow: hidden;
    height: 110px;
}
.navbar-menu{
    display: flex;
    float:right;
}
.navbar-menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 32px;
}
.navbar-menu a:hover{
    transform: scale(1.1);
    transition: .5s;
    text-decoration: underline;
}
/*new section*/
#food-network{
    display: flex;
    margin-bottom: 100px;
}
.home-healty{
    color: #8e6363;
    font-size: 40px;
    margin: 0;
}
.home-healty span{
    color: rgb(119, 0, 255);
}
.pera-div{
    margin-top: 50px;
}
.home-pera{
    margin:0;
    font-size: 20px;
    color: rgb(128, 87, 87);
}
.order-btn{
    text-decoration: none;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-image:linear-gradient(red,green);
    margin-top: 50px;
    box-shadow: 10px 10px 10px  rgb(204, 105, 105);
}
.order-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.home-menu{
    width: 45%;
    margin-left: 10%;
    margin-right: 5%; 
    margin-top: 100px;
}
.home-img{
    width: 40%;
    margin-left: 0;
    margin-right: 5%;
}
#about-me{
    display: flex;
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    overflow: hidden;
}
.about-img{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.about-desc{
    width: 40%;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}
.about-desc h1{
    font-size: 40px;
    color: rgb(116, 28, 28);
}
.about-desc p{
    font-size: 20px;
    color: rgb(97, 146, 6);
    line-height: 1.7;
}
.contact-btn{
    text-decoration: none;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    background-image:linear-gradient(rgb(221, 19, 130),rgb(8, 8, 224));
    margin-top: 30px;
    box-shadow: 10px 10px 10px  rgb(204, 105, 105);
}
.contact-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/*new recipie start here*/
#recipe{
    margin-bottom: 60px;
}
.recepie-text{
    width: 65%;
    text-align: center;
    margin: auto;
}
.recepie-text h1{
    font-size: 40px;
    margin: 0;
    color: rgb(134, 107, 72);
}
.recepie-text p{
    color: rgb(82, 83, 80);
    font-size: 20px;
}

.recepie-item{
    display: flex;
    margin:0 auto;
}
.menu-item-one{
    width: 25%;
    margin:20px 20px;
    padding: 40px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
}
.item-img{
    width: 100%;
}
.menu-item-one p{
    font-size: 18px;
    color: rgb(117, 106, 106);
    line-height: 1.5;
}
/*contact section start here*/
.contact-div{
    text-align: center;
    font-size: 30px;
    color: rgb(226, 196, 22);
}
.contact-form{
    width: 80%;
    margin: auto;
    background-color: rgb(0, 162, 255);
    height: 550px;
}
.contact-value{
    padding-top: 10px;
}
.contact-value p{
    margin-left: 10%;
    font-size: 20px;
}
.contact-value input{
    width: 80%;
    height: 40px;
    margin-left: 10%;
    border:none;
    border-radius: 5px;
}
.contact-value-two{
    display: flex;
}
.contact-value-two p{
      margin-left: 10%;
      font-size: 20px;
}
.contact-input{
    margin-top: 25px;
    display: flex;
}
.submit-reset{
    margin-left: 10%;
    margin-top: 20px;
}
#submit-button{
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    background-color: rgb(51, 13, 189);
    margin-right: 20px;
    color: white;
}
#submit-button:hover{
    background-image: linear-gradient(yellow,green);
    cursor: pointer;
}

#reset-button{
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(red,rgb(179, 255, 0));
}
#reset-button:hover{
    cursor: pointer;
    color:white;
    background:rgb(0 162 253);
    border: 1px solid black;
}
/*new footer section start here*/
#footer-item{
    text-align: center;
    background: black;
    color: white;
    height: 200px;
    padding-top: 30px;
   
}
#footer-item span{
    color: rgb(238, 45, 45);
}
#footer-item p{
    color: rgb(166, 192, 140);
    font-size: 20px;
}